@model CompanyAssetsUI.Models.Supplier

@{
    ViewData["Title"] = "Delete";
}

<span class="display-4 text-info">Deactivate</span>

<h6>Are you sure you want to deactivate this supplier?</h6>
<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SupplierName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SupplierDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SupplierEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierContactFirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SupplierContactFirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierContactLastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SupplierContactLastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierContactEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SupplierContactEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierCity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SupplierCity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SupplierAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SupplierActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Country.CountryDescription)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="SupplierID" />
        <input type="submit" value="Deactivate" class="btn btn-danger btn-sm" /> 
        <a asp-action="Index" class="btn btn-outline-info btn-sm">Back to List</a>
    </form>
</div>
