@model IEnumerable<CompanyAssetsUI.Models.Depreciation>

@{
    ViewData["Title"] = "Index";
}

<span> </span><span style="" class="display-4 text-info">Depreciations</span>

<p>
    <a asp-action="Index" class="btn btn-outline-info btn-sm">Active Depr.</a>
</p>
<div class="table-responsive box-shadow shadow-lg">
    <table class="table table-borderless"
           id="table"
           data-toggle="table"
           data-search="true"
           data-show-columns="true"
           data-show-toggle="true"
           data-virtual-scroll="false"
           data-minimum-count-columns="3"
           data-show-button-text="true"
           data-icons-prefix="icon"
           data-icons="icons"
           data-pagination="true"
           data-page-list="[10, 25, 50, 100, all]"
           data-show-footer="false"
           data-search-align="left"
           data-buttons-align="right"
           data-buttons-class="info"
           data-page-class="info"
           data-buttons-prefix="btn-sm btn"
           table-borderless="true"
           table-bordered="false"
           data-sortable="true">


        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DepreciationName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DepreciationDescription)
                </th>
                <th class="text-right">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="text-info">
                    <td>
                        @Html.DisplayFor(modelItem => item.DepreciationName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepreciationDescription)
                    </td>
                    <td>
                        @*<a asp-action="Edit" asp-route-id="@item.DepreciationID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.DepreciationID">Details</a> |*@
                        <a asp-action="Activate" asp-route-id="@item.DepreciationID" class="btn btn-outline-success btn-sm" data-toggle="tooltip" title="Activate"><i class="far fa-check-circle"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>

        window.icons = {
            refresh: 'ion-md-refresh',
            columns: 'ion-md-menu',
            toggle: 'ion-md-filing'
        }

        $(document).ready(function () {
            $('#table').DataTable();
        });

    $(function () {
        $('label input').blur(function () {
            var icons = {}
            $('label').each(function () {
                icons[$(this).find('span').text()] = $(this).find('input').val()
            })
            $table.bootstrapTable('destroy').bootstrapTable({
                icons: icons
            })
        })
    })
</script>